.min-wid- {
  &fit {
    min-width: fit-content;
  }
  &100per {
    min-width: 100%;
  }
  &auto {
    min-width: auto;
  }
  &25 {
    min-width: 25px;
  }
  &50 {
    min-width: 50px;
  }
  &100 {
    min-width: 100px;
  }
  &125 {
    min-width: 125px;
  }
  &150 {
    min-width: 150px;
  }
  &200 {
    min-width: 200px;
  }
  &300 {
    min-width: 300px;
  }
  &600 {
    min-width: 600px;
  }
  &400 {
    min-width: 400px;
  }
  &500 {
    min-width: 500px;
  }
  &900 {
    min-width: 900px;
  }
  &10p {
    min-width: 10%;
  }
  &20p {
    min-width: 20%;
  }
  &30p {
    min-width: 30%;
  }
  &40p {
    min-width: 40%;
  }
  &50p {
    min-width: 50%;
  }
  &60p {
    min-width: 60%;
  }
  &70p {
    min-width: 70%;
  }
  &80p {
    min-width: 80%;
  }
  &90p {
    min-width: 90%;
  }
  &100p {
    min-width: 100%;
  }
}
