.min-hei- {
  &fit {
    min-height: fit-content;
  }
  &100per {
    min-height: 100%;
  }
  &75 {
    min-height: 75px;
  }
  &100 {
    min-height: 100px;
  }
  &auto {
    min-height: auto;
  }
  &25 {
    min-height: 25px;
  }
  &50 {
    min-height: 50px;
  }
  &150 {
    min-height: 150px;
  }
  &200 {
    min-height: 200px;
  }
  &300 {
    min-height: 300px;
  }
  &350 {
    min-height: 350px;
  }
  &600 {
    min-height: 600px;
  }
  &400 {
    min-height: 400px;
  }
  &500 {
    min-height: 500px;
  }
  &900 {
    min-height: 900px;
  }
  &10p {
    min-height: 10%;
  }
  &20p {
    min-height: 20%;
  }
  &30p {
    min-height: 30%;
  }
  &40p {
    min-height: 40%;
  }
  &50p {
    min-height: 50%;
  }
  &60p {
    min-height: 60%;
  }
  &70p {
    min-height: 70%;
  }
  &80p {
    min-height: 80%;
  }
  &90p {
    min-height: 90%;
  }
  &100p {
    min-height: 100%;
  }
}
