.op- {
  &half {
    opacity: 0.5;
  }

  &quarter {
    opacity: 0.25;
  }

  &01 {
    opacity: 0.1;
  }

  &1 {
    opacity: 1;
  }
}

.col- {
  &white {
    color: white;
  }

  &black {
    color: black;
  }

  &grey {
    color: var(--color-grey);
  }

  &lightgrey {
    color: var(--color-lightgrey);
  }

  &red {
    color: red;
  }

  &active {
    border-color: var(--color-active);
    color: var(--color-active);
  }

  &inactive {
    color: var(--color-inactive);
  }

  &overlay {
    color: var(--color-overlay);
  }

  &reminder {
    color: var(--color-reminder);
  }

  &warning {
    color: var(--color-warning);
  }

  &disabled {
    color: var(--color-disabled);
  }
}

.bg- {
  &white {
    background-color: white;
  }

  &black {
    background-color: black;
  }

  &grey {
    background-color: var(--color-grey);
  }

  &lightgrey {
    background-color: var(--color-lightgrey);
  }

  &red {
    background-color: red;
  }
}
