.hov- {
  &lightgrey {
    &:hover {
      background-color: var(--color-lightgrey);
    }
  }
  &outline {
    &:hover {
      outline: 1px solid;
    }
  }
  &active {
    &:hover {
      background-color: var(--color-active);
    }
  }
}
