.p- {
  &5 {
    padding: 5px !important;
  }
  &10 {
    padding: 10px !important;
  }
  &s {
    padding: 10px;
  }

  &m {
    padding: 15px;
  }

  &l {
    padding: 25px;
  }

  &xl {
    padding: 40px;
  }
}

.pv- {
  &5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &s {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &m {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &l {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &xl {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.ph- {
  &5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  &10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  &s {
    padding-left: 10px;
    padding-right: 10px;
  }
  &m {
    padding-left: 15px;
    padding-right: 15px;
  }
  &l {
    padding-right: 25px;
    padding-left: 25px;
  }
  &xl {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.pl- {
  &5 {
    padding-left: 5px;
  }
  &10 {
    padding-left: 10px;
  }
}
.pr- {
  &5 {
    padding-right: 5px;
  }
  &10 {
    padding-right: 10px;
  }
}
.pt- {
  &5 {
    padding-top: 5px;
  }
  &10 {
    padding-top: 10px;
  }
}
.pb- {
  &5 {
    padding-bottom: 5px;
  }
  &10 {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: var(--mobile-width)) {
  .m-p-01 {
    padding: 0.1vw;
  }
}
